<a href="https://colab.research.google.com/github/JuanPicUNT/JuanPic_DTSC3020_Fall2025/blob/main/assignment2_%3Cjap0706%3E.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
MyFavFru= ["apple", "bannana", "orange"]
print(MyFavFru)
print(MyFavFru[0])
print(MyFavFru[1])
print(MyFavFru[2])

['apple', 'bannana', 'orange']
apple
bannana
orange

In [ ]:
NameList= ["paul", "james", "kevin"]
NameList[0]= "steven"
print(NameList)

['steven', 'james', 'kevin']

In [7]:
VehicalList=["car", "bus", "bike", "train", "plane"]
VehicalList.append("boat")
print(VehicalList)

['car', 'bus', 'bike', 'train', 'plane', 'boat']

In [10]:
FoodList=["pizza", "hamburger", "hotdog", "sandwich", "salad", "taco"]
FoodList.remove("hotdog")
print(FoodList)

['pizza', 'hamburger', 'sandwich', 'salad', 'taco']

In [11]:
CityList= ["dallas", "san Antonio", "waco", "austin"]
CityList.sort()
print(CityList)

['austin', 'dallas', 'san Antonio', 'waco']

In [12]:
AnimalList= ["cat", "dog", "tiger"]
for x in AnimalList:
    print(x)

cat
dog
tiger

In [13]:
Number_List= [1,2,3,4,5]
for x in Number_List:
  print(x*2)

2
4
6
8
10

In [7]:
FriendList= ["Alice", "Bob", "Charlie", "David", "Eva", "Frank"]
print(FriendList[0:3])
print(FriendList[3:6])

['Alice', 'Bob', 'Charlie']
['David', 'Eva', 'Frank']

In [1]:
RangList= list(range(1,11))
print(RangList)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
Squares= [x**2 for x in range(1,6)]
print (Squares)

[1, 4, 9, 16, 25]