<a href="https://colab.research.google.com/github/JuanPicUNT/JuanPic_DTSC3020_Fall2025/blob/main/Assignment4_%3Cjap0706%3E_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#DTSC 3020 – Assignment 4
Chapter 6 – Dictionaries

Total points: 4

Deadline: Friday at midnight

Submission: Upload your Python file to your GitHub repository and submit only your GitHub link.


Expectations
Write complete answers and run all cells before submission.
Keep the notebook clean (no unnecessary code).

Exercise  1: Find and print the student with the lowest grade.

In [28]:
grades = {
    'Ali': 17,
    'Sara': 19,
    'Reza': 18.5,
    'Lina': 20,
    'Omid': 16
}

for students in grades:
  if grades[students] == min(grades.values()):
   print(students)

Omid

Exercise 2: print names of students who registered for any course containing "Data"

In [5]:
courses = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Data Mining', 'Chemistry'],
    'Reza': ['Machine Learning', 'Data Science'],
    'Lina': ['English', 'History']
}

for student, classes in courses.items():
    if any('Data' in course for course in classes):
        print(student)

Sara
Reza

Exercise 3: Print titles of books that are not available.

In [64]:
library = {
    'Python101': {'pages': 180, 'available': True},
    'AI Basics': {'pages': 130, 'available': False},
    'Math Advanced': {'pages': 200, 'available': False},
    'Statistics': {'pages': 175, 'available': True}
}

for book, avaliblity in library.items():
  if valiblity['available'] == False:
    print(book)

AI Basics
Math Advanced

Exercise 4: Print names of students who are registered for more than 2 courses.

In [3]:

registrations = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Biology', 'Chemistry', 'Math'],
    'Reza': ['English'],
    'Lina': ['History', 'Physics', 'Geography', 'Art']
}

for students in registrations:
  if len(registrations[students]) > 2:
    print(students)

Sara
Lina

Exercise 5: Calculate and print the average grade of the class.

In [9]:
grades = {
    'Ali': 17,
    'Sara': 19,
    'Reza': 18.5,
    'Lina': 20,
    'Omid': 16
}
for students_grades in grades.items():
   averege_grade= sum(grades.values())/ len(grades)
print(averege_grade)

18.1

Exercise 6: Count and print the number of students registered for "Python".

In [14]:
courses = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Biology', 'Chemistry'],
    'Reza': ['Python', 'AI'],
    'Lina': ['English', 'History'],
    'Omid': ['Python']
}

for student, classes in courses.items():
  if any('Python' in courses for courses in classes):
    print(student)

Ali
Reza
Omid

Exercise 7: Print titles of books with more than 200 pages.

In [19]:
book_pages = {
    'Python101': 180,
    'AI Basics': 230,
    'Math Advanced': 250,
    'Statistics': 190,
    'Data Science': 300
}

for books, pages in book_pages.items():
  if book_pages[books] > 200:
    print(books)

AI Basics
Math Advanced
Data Science

Exercise 8: Print each student's name and number of registered courses.

In [9]:
courses = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Biology', 'Chemistry'],
    'Reza': ['Python', 'AI'],
    'Lina': ['English', 'History'],
    'Omid': ['Python']
}

for students, classes in courses.items():
  print(students, len(classes))

Ali 2
Sara 2
Reza 2
Lina 2
Omid 1